# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build files
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase
firebase-debug.log
database-debug.log
firestore-debug.log

# Output of 'firebase init'
hosting.rules
database.rules.json
storage.rules
functions/node_modules
functions/.eslintrc.js
functions/package-lock.json
functions/package.json
functions/tsconfig.json
functions/tsconfig.dev.json
functions/lib

# macOS
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of Storybook builds
/storybook-static

# Next-Auth specific
next-auth.session-token
next-auth.pkce.code_verifier
